/* CSS reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variable */
:root {
    --navbar-height: 59px;
}

/* Navigatin Bar  */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;

}

/* Navigatin Bar: Logo and Image  */
#logo {
    margin: 12px 16px;
}

#logo img {
    border-radius: 50px;
    height: 60px;
    width: 90px;
    margin: 3px 5px;
}


/* Nvaigatin Bar: List Styling */
#navbar ul {
    display: flex;
    margin: 30px;

}

#navbar ul li {

    list-style: none;
    font-size: 1.3rem;
    /* padding: 3px 22px; */
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section  */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 619px;
    /* height: 100%; */
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url("https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_960_720.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .85;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Services Section  */
#services {
    margin: 34px;
    display: flex;
}

#services-container {
    position: relative;
}

#services-container::before {
    content: "";
    position: absolute;
    background: url("https://images.pexels.com/photos/1510714/pexels-photo-1510714.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") center center/cover;
    width: 100%;
    height: 107%;
    z-index: -1;
    opacity: .7;
}

#services .box {
    border: 2px solid brown;
    /* width: 33%; */
    padding: 30px;
    margin: 23px 6px;
    border-radius: 23px;
    background: rgb(224, 232, 235);
}

#services .box img {
    /* border: 2px solid brown; */
    width: 170px;
    height: 130px;
    display: block;
    margin: auto;
}

/* Client Section  */
#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#client-section {
    /* height: 344px; */
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat center center/cover;
    /* top: 0px;
    left: 0px; */
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
}

#clients img {
    height: 120px;
  border-radius: 14px;
}

/* Contact Section  */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .6;
    background: url("https://images.pexels.com/photos/193003/pexels-photo-193003.jpeg?auto=compress&cs=tinysrgb&w=600") center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: .5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
}

/* Footer  */
footer {
    background: black;
    color: white;
    padding: 9px 20px;
}


/* Utility Classes */
.h-primary {
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary {
    font-size: 1.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(169, 97, 97);
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: brown;
    /* color: black; */
}

.center {
    text-align: center;
}

.Sbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

